#Resources
proj.android
proj.blackberry
#proj.ios
proj.linux
proj.mac
proj.marmalade
proj.tizen
proj.win32/*
!CoolSatrs.vcxproj
!CoolSatrs.vcxproj.filters
!CoolSatrs.vcxproj.user
proj.winrt
proj.wp8-xaml
proj.wp8
.DS_Store
